body {
    background-color: ghostwhite;
    color: blue;
  }
  
  a:hover{
    opacity: 75%;
    color: slategray;
  }
  
  a:active{
    opacity: 25%;
    color: black;
  }
  
  .purple-text{
  color: blueviolet;
  }
  
  button{
    background-color: slategray!important;
    margin: 3px;
    border: 1px black!important;
    border-radius: 5px;
  }
  
  button:hover{
    opacity: 75%;
  }
  
  .invisible {
    visibility: hidden;
  }
  
  .hide {
    display: none!important;
  }